.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs-items {
    padding: 5px;
}

.messages {
    padding: 5px;
}

textarea {
    color: black;
}

.add-message {
    color: black;
    padding: 5px;
}